.listItem {
    margin-bottom: 20px;
}

.card {
    display: flex;
    gap: 20px;
    align-items: center;
    background: var(--card-background);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    transition: background 0.3s;
}

.card:hover {
    background-color: var(--card-background-hover);
}

.cardImg {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.cardTitle {
    width: 60%;
}

.link {
    text-decoration: none;
    color: var(--text-accent);
    display: block;
    width: 100%;
}

.link:hover {
    color: var(--text-color);
}

@media (max-width: 460px) {
    .cardImg {
        width: 10%;
        justify-content: flex-start;
    }

    .cardTitle {
        width: 90%;
    }
}
