:root {
    --background: #e0d6e9;
    --card-background: white;
    --card-background-hover: #f0e4f1;
    --link-background: #7f5a9b;
    --link-background-hover: #5b3d6b;
    --text-color: #3a2c5a;
    --text-accent: #5c4a82;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 100%;
    background-color: var(--card-background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    color: var(--text-color);
    font-size: 18px;
}

.wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: var(--card-background);
    padding: 20px;
}

.wrapper a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.wrapper a:hover {
    text-decoration: underline;
    background-color: var(--card-background-hover);
    border-radius: 5px;
}

.home {
    width: 100%;
    height: 100vh;
    background-image: url('./../../public/star-wars.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    height: calc(100vh - 126px);
    background-color: var(--background);
    padding: 20px;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .main {
        padding: 5px 5px 0;
    }
}
