*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: #e0d6e9;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }
}